body{
    margin 1px;
}
#space{
    top: 0px;
    left: 0px;
    width: 555px;
    height: 390px;
    background-image: url("stars.jpg");
}

#ball
{
z-index: 5;
position: absolute;
left: 0px;
top: 200px;
width: 80px;
height: 80px;
border-radius: 50%;
background-image: url("smallEarthSquare.jpg");
}
