body{
    background-color: black;
}
img#profileImage{
    width: 30%;
    height: 30%;
}
div.col-sm{
    .bg-info;
}
h1{
    color:blueviolet;
}
p{
    color: lightgrey;
}
ul li{
    list-style-type: none;
    color: white;
}
.col-sm{
    color: white;
}
